deploy/n8n/mcp-airtable-bridge-workflow.json
{
  "name": "MCP Airtable Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "Connection",
                "value": "keep-alive"
              }
            ]
          }
        }
      },
      "id": "webhook-entry",
      "name": "MCP Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "mcp-bridge"
    },
    {
      "parameters": {
        "url": "https://caissa-mcp-airtable.zeabur.app/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Forward to Zeabur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "responseNode",
        "responseCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "text/event-stream"
            }
          ]
        },
        "responseData": "={{ $json.data }}"
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "MCP Webhook": {
      "main": [
        [
          {
            "node": "Forward to Zeabur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Zeabur": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "mcp-airtable-bridge"
  },
  "tags": []
}